*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

#display-result {
    width: 100%;
    max-width: 400px;
    min-height: 80px;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid black;
    background-color: grey;
    text-align: right;
    align-content: center;
}

#result-text {
    display: inline-block;
    font-size: 55px;
    font-weight: 200;
    padding-right: 10px;
    white-space: nowrap;
}

#mid-buttons {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    justify-content: flex-start;
    gap: 2px;
    background-color: black;
}

#left-buttons {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}

.digit {
    flex-basis: 33.33%;
    font-size: 20px;
    background-color: orange;
    border: 1px solid black;
}

#right-buttons{
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
}

.feature-btn {
    flex-basis: 50%;
    font-size: 20px;
}

.operator-btn {
    flex-basis: 50%;
    font-size: 20px;
}

.feature-btn, .operator-btn {
    background-color: goldenrod;
    border: 1px solid black;
    color: green;
}

#last-buttons {
    display: flex;
    width: 100%;
    max-width: 400px;
    min-height: 70px;
    justify-content: flex-start;
    gap: 2px;
    background-color: black;
}

#digit-buttons {
    display: flex;
    flex-basis: 60%;
}